# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3
*.log
media/

# Node / React / Vite
node_modules/
dist/
dist-ssr/
*.local

# System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

readmeslides.md
